.checkout-body {
    margin: 30px;
    padding: 10px;
}

.ordersumm {
    background: #EDEDED;
    color: black;
    padding: 50px 50px;
    box-sizing: border-box;
    border-radius: 2rem;
    position: absolute;
    right: 50px;
    bottom: 280px;
}

.checkout-btn {
    background-color: rgb(4, 173, 4);
    border-radius: 1rem;
}