/* home page */
  .slide-row{
    height: 400px;
    position: relative;
  }
  
  .menu-container{
    z-index: 2;
    position: absolute;
  }
  
  .slide-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  
  
  .dark-text{
    z-index: 4;
    left: 5%;
    top: 5%;
    font-weight: 700;
    transition: 0.5s ease-in;
  }
  
  .img-link{
    color: black;
  }
  
  .image-overlay{
    display: block;
    height: 100%;
    width: 100%;
    background-color: rgb(105, 103, 103);
    opacity:0;
    transition: 0.5s ease-in;
  }
  
  .img-link:hover{
    color: whitesmoke;
    opacity: 1;
  }
  
  .img-link:hover .image-overlay{
    opacity: 0.4;
  }
  
  .img-link .btn{
    transition: 0.5s ease-in;
  }
  
  .img-link:hover .btn{
    transform: translateY(-4rem);
  }

  .img-link{
    .btn:hover{
      background-color: darken(#fff, 9%);
      border-color:darken(#fff, 9%);
    }
  }