/*register*/

.form-box {
    height: 900px;
    position: relative;
}

.btnregister {
    width: 150px;
}

.inputs {
    position: absolute;
    width: 65%;
    transition: .5s;
}

#customer {
    top: 140px;
    left: 100px;
}

#trader {
    top: 140px;
    left: -1000px;
}

.selected {
    font-weight: 700;
}